* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
}

h6 {
    display: none;
}

.banner {
    background: url(images/banner.jpg) 100% 100% no-repeat;
    height: 550px;
    padding-top: 38px;
}

.nav-links {
    border: 1px solid #000000;
    width: 70%;
    height: 36px;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(to right, #666 0%, #5e5e5e 100%, #707070 0%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    border: 1px solid red;
}